params {
    fs = File.separator
    cfsanpipename = 'CPIPES'
    center = 'CFSAN, FDA.'
    libs = "${projectDir}${params.fs}lib"
    modules = "${projectDir}${params.fs}modules"
    projectconf = "${projectDir}${params.fs}conf"
    assetsdir = "${projectDir}${params.fs}assets"
    subworkflows = "${projectDir}${params.fs}subworkflows"
    workflows = "${projectDir}${params.fs}workflows"
    workflowsconf = "${workflows}${params.fs}conf"
    routines = "${libs}${params.fs}routines"
    toolshelp = "${libs}${params.fs}help"
    swmodulepath = "${params.fs}nfs${params.fs}software${params.fs}modules"
    tracereportsdir = "${launchDir}${params.fs}${cfsanpipename}-${params.pipeline}${params.fs}nextflow-reports"
    dummyfile = "${projectDir}${params.fs}assets${params.fs}dummy_file.txt"
    dummyfile2 = "${projectDir}${params.fs}assets${params.fs}dummy_file2.txt"
    linewidth = 80
    pad = 32
    pipeline = null
    help = null
    input = null
    output = null
    metadata = null
    publish_dir_mode = "copy"
    publish_dir_overwrite = true
    user_email = null
}

dag {
    enabled = true
    file = "${params.tracereportsdir}${params.fs}${params.pipeline}_dag.html"
    overwrite = true
}

report {
    enabled = true
    file = "${params.tracereportsdir}${params.fs}${params.pipeline}_exec_report.html"
    overwrite = true
}

trace {
    enabled = true
    file = "${params.tracereportsdir}${params.fs}${params.pipeline}_exec_trace.txt"
    overwrite = true
}

timeline {
    enabled = true
    file = "${params.tracereportsdir}${params.fs}${params.pipeline}_exec_timeline.html"
    overwrite = true
}

