standard {
    process.executor = 'local'
    process.cpus = 1
    params.enable_conda = false
    params.enable_module = true
    singularity.enabled = false
    docker.enabled = false
}

stdkondagac {
    process.executor = 'local'
    process.cpus = 4
    params.enable_conda = true
    conda.enabled = true
    conda.useMicromamba = true
    params.enable_module = false
    singularity.enabled = false
    docker.enabled = false
}

stdcingularitygac {
    process.executor = 'local'
    process.cpus = 4
    params.enable_conda = false
    params.enable_module = false
    singularity.enabled = true
    singularity.autoMounts = true
    docker.enabled = false
}

raven {
    process.executor = 'slurm'
    process.queue = 'prod'
    process.memory = '10GB'
    process.cpus = 4
    params.enable_conda = false
    params.enable_module = true
    singularity.enabled = false
    docker.enabled = false
    clusterOptions = '--signal B:USR2'
}

eprod {
    process.executor = 'slurm'
    process.queue = 'lowmem,midmem,bigmem'
    process.memory = '10GB'
    process.cpus = 4
    params.enable_conda = false
    params.enable_module = true
    singularity.enabled = false
    docker.enabled = false
    clusterOptions = '--signal B:USR2'
}

eprodkonda {
    process.executor = 'slurm'
    process.queue = 'lowmem,midmem,bigmem'
    process.memory = '10GB'
    process.cpus = 4
    params.enable_conda = true
    conda.enabled = true
    conda.useMicromamba = true
    params.enable_module = false
    singularity.enabled = false
    singularity.autoMounts = true
    docker.enabled = false
    clusterOptions = '--signal B:USR2'
}

eprodcingularity {
    process.executor = 'slurm'
    process.queue = 'lowmem,midmem,bigmem'
    process.memory = '10GB'
    process.cpus = 4
    params.enable_conda = false
    params.enable_module = false
    singularity.enabled = true
    singularity.autoMounts = true
    docker.enabled = false
    clusterOptions = '--signal B:USR2'
}

cingularity {
    process.executor = 'slurm'
    process.queue = 'prod'
    process.memory = '10GB'
    process.cpus = 4
    singularity.enabled = true
    singularity.autoMounts = true
    docker.enabled = false
    params.enable_conda = false
    params.enable_module = false
    clusterOptions = '--signal B:USR2'
}

cingularitygac {
    process.executor = 'slurm'
    executor.$slurm.exitReadTimeout = 120000
    process.queue = 'centriflaken'
    process.cpus = 4
    singularity.enabled = true
    singularity.autoMounts = true
    docker.enabled = false
    params.enable_conda = false
    params.enable_module = false
    clusterOptions = '-n 1 --signal B:USR2'
}

konda {
    process.executor = 'slurm'
    process.queue = 'prod'
    process.memory = '10GB'
    process.cpus = 4
    singularity.enabled = false
    docker.enabled = false
    params.enable_conda = true
    conda.enabled = true
    conda.useMicromamba = true
    params.enable_module = false
    clusterOptions = '--signal B:USR2'
}

kondagac {
    process.executor = 'slurm'
    executor.$slurm.exitReadTimeout = 120000
    process.queue = 'centriflaken'
    process.cpus = 4
    singularity.enabled = false
    docker.enabled = false
    params.enable_conda = true
    conda.enabled = true
    conda.useMicromamba = true
    params.enable_module = false
    clusterOptions = '-n 1 --signal B:USR2'
}