params {
    logtheseparams = [
        "${params.metadata}" ? 'metadata' : null,
        "${params.input}" ? 'input' : null,
        "${params.output}" ? 'output' : null,
        "${params.fq_suffix}" ? 'fq_suffix' : null,
        "${params.fq2_suffix}" ? 'fq2_suffix' : null,
        "${params.fq_strandedness}" ? 'fq_strandedness' : null,
        "${params.fq_single_end}" ? 'fq_single_end' : null,
        "${params.fq_filter_by_len}" ? 'fq_filter_by_len' : null,
        "${params.fq_filename_delim}" ? 'fq_filename_delim' : null,
        "${params.fq_filename_delim_idx}" ? 'fq_filename_delim_idx' : null,
        'enable_conda',
        'enable_module',
    ]
}