manifest {
    author = 'Kranti Konganti'
    homePage = 'https://xxxxxx.xxxxx.xxxx/Kranti.Konganti/cpipes'
    name = 'bettercallsal'
    version = '0.6.0'
    nextflowVersion = '>=22.10'
    description = 'Modular Nextflow pipelines at CFSAN, FDA.'
    doi = 'https://doi.org/10.3389/fmicb.2023.1200983'
}