params {
    workflow_conceived_by = 'Kranti Konganti'
    workflow_built_by = 'Kranti Konganti'
    workflow_version = '0.6.1'
    pdg_release = 'PDG000000002.2658'
    ncbi_asm_suffix = '_genomic.fna.gz'
    wcomp_serocol = false
    wcomp_complete_sero = false
    wcomp_not_null_serovar = false
    wcomp_num = false
    wcomp_min_contig_size = false
    wcomp_i = false 
    wsnp_serocol = false
    wsnp_complete_sero = true
    wsnp_not_null_serovar = false
    wsnp_num = false
    wsnp_i = "'I 4,[5],12:i:-'" 
    genomes_chunk = 100
    mashsketch_run = true
    mashsketch_l = true
    mashsketch_I = false
    mashsketch_C = false
    mashsketch_k = 21
    mashsketch_s = 1000
    mashsketch_i = false
    mashsketch_S = false
    mashsketch_w = false
    mashsketch_r = false
    mashsketch_b = false
    mashsketch_m = false
    mashsketch_c = false
    mashsketch_g = false
    mashsketch_n = false
    mashsketch_a = false
    mashsketch_z = false
    mashsketch_Z = false
}
