params {
    workflow_conceived_by = 'Kranti Konganti'
    workflow_built_by = 'Kranti Konganti'
    workflow_version = '0.7.0'
    bcs_root_dbdir = '/tmp'
    bcs_db_mode = 'snp'
    bcs_db_mode_index = (params.bcs_db_mode ==~ /snp/ ? '_cluster' : '_serotype')
    bcs_thresholds = 'strict'
    bcs_concat_pe = true
    bbmerge_run = (params.bcs_concat_pe ? false : true)
    bbmerge_adapters = false
    bbmerge_reads = -1
    bbmerge_ziplevel = 1
    bbmerge_ordered = false
    bbmerge_qtrim = true
    bbmerge_qtrim2 = false
    bbmerge_trimq = 10
    bbmerge_minlength = 1
    bbmerge_tbo = false
    bbmerge_minavgquality = (params.bcs_thresholds ==~ /strict/ ? 30 : 20)
    bbmerge_trimpolya = true
    bbmerge_pfilter = (params.bcs_thresholds ==~ /strict/ ? 1 : false)
    bbmerge_ouq = false
    bbmerge_owq = true
    bbmerge_strict = false
    bbmerge_verystrict = false 
    bbmerge_ultrastrict = (params.bcs_thresholds ==~ /strict/ ? true : false)
    bbmerge_maxstrict = false
    bbmerge_loose = false
    bbmerge_veryloose = false
    bbmerge_ultraloose = false
    bbmerge_maxloose = false
    bbmerge_fast = false
    bbmerge_k = 60
    bbmerge_prealloc = true
    fastp_run = true
    fastp_failed_out = false
    fastp_merged_out = false
    fastp_overlapped_out = false
    fastp_6 = false
    fastp_reads_to_process = 0 
    fastp_fix_mgi_id = false
    fastp_A = false
    fastp_f = 0
    fastp_t = 0
    fastp_b = 0
    fastp_F = 0
    fastp_T = 0
    fastp_B = 0
    fastp_dedup = true
    fastp_dup_calc_accuracy = 6
    fastp_poly_g_min_len = 10
    fastp_G = true
    fastp_x = false
    fastp_poly_x_min_len = 10 
    fastp_cut_front = true
    fastp_cut_tail = false
    fastp_cut_right = true
    fastp_W = 20
    fastp_M = 30
    fastp_q = 30
    fastp_u = 40
    fastp_n = 5
    fastp_e = 0
    fastp_l = 35
    fastp_max_len = 0
    fastp_y = true
    fastp_Y = 30
    fastp_U = false
    fastp_umi_loc = false
    fastp_umi_len = false
    fastp_umi_prefix = false
    fastp_umi_skip = false
    fastp_p = true
    fastp_P = 20
    fastp_use_custom_adapters = false
    fastp_adapter_fasta = (params.fastp_use_custom_adapters ? "${projectDir}"
        + File.separator
        + 'assets'
        + File.separator
        + 'adaptors.fa' : false)
    mashscreen_run = true
    mash_sketch = (params.bcs_root_dbdir 
        + File.separator 
        + 'mash_sketch' 
        + File.separator 
        + 'msh.k21.1000h.' 
        + params.bcs_db_mode 
        + '.msh')
    mashscreen_w = false
    mashscreen_i = false
    mashscreen_v = false
    tuspy_run = true
    tuspy_s = false
    tuspy_m = false
    tuspy_ps = (params.bcs_root_dbdir 
        + File.separator 
        + 'index_metadata' 
        + File.separator 
        + 'per_' 
        + params.bcs_db_mode 
        + params.bcs_db_mode_index 
        + '.ACC2SERO.pickle')
    tuspy_gd = (params.bcs_root_dbdir 
        + File.separator 
        + 'scaffold_genomes')
    tuspy_gds = '_scaffolded_genomic.fna.gz'
    tuspy_n = 10
    tuspy_skip = 'PRJNA766315,PRJNA675435,PRJNA831577,PRJNA855361'
    sourmashsketch_run = true
    sourmashsketch_mode = 'dna'
    sourmashsketch_file = false
    sourmashsketch_f = false
    sourmashsketch_merge = false
    sourmashsketch_name = false
    sourmashsketch_p = 'abund,scaled=1000,k=51,k=61,k=71'
    sourmashsketch_singleton = true
    sourmashsketch_randomize = false
    sourmashgather_run = (params.sourmashsketch_run ?: false)
    sourmashgather_n = false
    sourmashgather_thr_bp = false
    sourmashgather_ignoreabn = false
    sourmashgather_prefetch = false
    sourmashgather_noprefetch = false
    sourmashgather_ani_ci = true
    sourmashgather_k = 71
    sourmashgather_protein = false
    sourmashgather_noprotein = false
    sourmashgather_dayhoff = false
    sourmashgather_nodayhoff = false
    sourmashgather_hp = false
    sourmashgather_nohp = false
    sourmashgather_dna = true
    sourmashgather_nodna = false
    sourmashgather_scaled = false
    sourmashgather_inc_pat = false
    sourmashgather_exc_pat = false
    sourmashsearch_run = (params.sourmashsketch_run && !params.sourmashgather_run ?: false)
    sourmashsearch_n = false
    sourmashsearch_thr = '0'
    sourmashsearch_contain = false
    sourmashsearch_maxcontain = true
    sourmashsearch_ignoreabn = true
    sourmashsearch_ani_ci = false
    sourmashsearch_k = 71
    sourmashsearch_protein = false
    sourmashsearch_noprotein = false
    sourmashsearch_dayhoff = false
    sourmashsearch_nodayhoff = false
    sourmashsearch_hp = false
    sourmashsearch_nohp = false
    sourmashsearch_dna = true
    sourmashsearch_nodna = false
    sourmashsearch_scaled = false
    sourmashsearch_inc_pat = false
    sourmashsearch_exc_pat = false
    sfhpy_run = true
    sfhpy_fcn = (params.sourmashsearch_run ? 'similarity' : 'f_match')
    sfhpy_fcv = (params.sourmashsearch_run ? 0.9 : 0.1)
    sfhpy_gt = true
    sfhpy_lt = false
    kmaindex_run = true
    kmaindex_t_db = false
    kmaindex_k = 31
    kmaindex_m = false
    kmaindex_hc = false
    kmaindex_ML = false
    kmaindex_ME = false
    kmaindex_Sparse = false
    kmaindex_ht = false
    kmaindex_hq = false
    kmaindex_and = false
    kmaindex_nbp = false
    kmaalign_run = true
    kmaalign_ignorequals = false
    kmaalign_int = false
    kmaalign_ef = false
    kmaalign_vcf = false
    kmaalign_sam = false
    kmaalign_nc = true
    kmaalign_na = true
    kmaalign_nf = false
    kmaalign_a = false
    kmaalign_and = true
    kmaalign_oa = false
    kmaalign_bc = false
    kmaalign_bcNano = false
    kmaalign_bcd = false
    kmaalign_bcg = false
    kmaalign_ID = (params.bcs_thresholds ==~ /strict/ ? 10.0 : 5.0)
    kmaalign_md = false
    kmaalign_dense = false
    kmaalign_ref_fsa = false
    kmaalign_Mt1 = false
    kmaalign_1t1 = false
    kmaalign_mrs = (params.bcs_thresholds ==~ /strict/ ? 0.99 : 0.90)
    kmaalign_mrc = (params.bcs_thresholds ==~ /strict/ ? 0.99 : 0.90)
    kmaalign_mp = (params.bcs_thresholds ==~ /strict/ ? 30 : 20)
    kmaalign_eq = (params.bcs_thresholds ==~ /strict/ ? 30 : 20)
    kmaalign_mp = (params.kmaalign_ignorequals ? 0 : params.kmaalign_mp)
    kmaalign_eq = (params.kmaalign_ignorequals ? 0 : params.kmaalign_eq)
    kmaalign_mq = false
    kmaalign_5p = false
    kmaalign_3p = false
    kmaalign_apm = false
    kmaalign_cge = false
    kmaalign_mrs = (params.sourmashgather_run ? false : params.kmaalign_mrs)
    kmaalign_and = (params.sourmashgather_run ? false : true)
    kmaalign_ID = (params.sourmashgather_run ? false : params.kmaalign_ID)
    megahit_run = true
    megahit_min_count = false
    megahit_k_list = false
    megahit_no_mercy = false
    megahit_bubble_level = false
    megahit_merge_level = false
    megahit_prune_level = false
    megahit_prune_depth = false
    megahit_low_local_ratio = false
    megahit_max_tip_len = false
    megahit_no_local = false
    megahit_kmin_1pass = false
    megahit_preset = 'meta-sensitive'
    megahit_mem_flag = 2
    megahit_min_contig_len = false
    mlst_run = true
    mlst_scheme = 'senterica_achtman_2'
    mlst_legacy = true
    mlst_minid = 95
    mlst_mincov = 10
    mlst_minscore = 50
    abricate_run = true
    abricate_datadir = ("${projectDir}"
        + File.separator
        + 'assets'
        + File.separator
        + 'abricate_dbs')
    abricate_minid = 90
    abricate_mincov = 80
    abricate_summary_run = true
    salmonidx_run = true
    salmonidx_k = false
    salmonidx_gencode = false
    salmonidx_features = false
    salmonidx_keepDuplicates = false
    salmonidx_keepFixedFasta = false
    salmonidx_filterSize = false
    salmonidx_sparse = false
    salmonidx_n = false
    salmonidx_decoys = false
    salmonalign_libtype = 'SF'
    gsrpy_run = true
    gsrpy_url = true
    gsrpy_snp_clus_metadata =  (params.bcs_root_dbdir
        + File.separator
        + 'download_pdg_metadata'
        + File.separator 
        + getPDGRelease(params.bcs_root_dbdir) 
        + File.separator
        + getPDGRelease(params.bcs_root_dbdir) 
        + '.reference_target.cluster_list.tsv')
    sourmashcompare_mode = 'ani,containment'
    fq_filter_by_len = 0
    fq_suffix = (params.fq_single_end ? '.fastq.gz' : '_R1_001.fastq.gz')
    fq2_suffix = '_R2_001.fastq.gz'
    multiqc_run = true
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    METHOD TO GET PDG RELEASE AND SET REST OF THE METADATA FILES
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

def getPDGRelease(db_path) {
	db_path_obj = new File( db_path )
	def pdg_release = []

	db_path_obj.eachDirRecurse {
		it.toString() =~ /PDG/ \
            ? pdg_release << it.toString().find(/PDG\d+\.\d+/) \
            : null
	}

	return pdg_release.unique().join('').toString()
}
